.hidden-page{
    visibility: hidden;
}

#shown-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 20rem;
}

.input-box {
    display: flex;
    align-items: left;

}