h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

body {
    /* background-color: black; */
    color: white;
    /* background-image: url("../assets/creepy-kitchen.jpg"); */
    background-size: cover;
}

.hidden-page{
    visibility: hidden;
}

#shown-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10rem 20rem;
    position: relative;
    z-index: 1;
}

.input-box {
    display: flex;
    align-items: left;
}

#hidden-page-id {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: 2;
    background-image: url("../assets/creepy-kitchen.jpg");
}