h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    font-size: 100px;
}

body {
    background-color: black;
    color: white;
    background-size: cover;
    font-family: 'Creepster', cursive;
}

.hidden-page{
    visibility: hidden;
}

#shown-page {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-content: center;
    position: absolute;
    z-index: 1;
    width: 30%;
}

.shown-page-parent {
    display: flex;
    justify-content: center;
}
.input-box {
    display: flex;
    align-items: left;
}

#hidden-page-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    padding: 10rem 20rem;
    z-index: 2;
}